git+https://github.com/deepset-ai/haystack.git#egg=farm-haystack[colab] 
Flask==2.2.2
joblib==1.2.0
nltk==3.7
numpy==1.23.5
Pillow
torch
torchvision
tqdm==4.64.1
typing_extensions==4.4.0
easynmt
langdetect
